.loginWrapper {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.mainTitle {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  position: absolute;
  padding: 10px;
  top: 5px;
  left: 0;
  right: 0;
}

.mainContent {
  display: block;
  max-width: 100%;
  width: 100%;
}

.footer {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  position: absolute;
  padding: 10px;
  bottom: 5px;
  left: 0;
  right: 0;
}

.buttonLabelBold {
  font-size: 14px;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff;
}

.buttonLogo {
  padding-top: 30px;
  width: 30px;
  background-image: url('../../assets/main-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.metamaskLogo {
  margin-bottom: 8px;
}

.buttonLabel {
  font-size: 12px;
  display: block;
  color: #c4c4c4;
  margin-bottom: 10px;
}

.buttonWrapper {
  display: block;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  max-width: 300px;
  background-color: unset;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.smallTitle {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 0;
  color: #ffffff;
  text-align: center;
}

.textWrapper {
  margin-bottom: 25px;
}

.hugeTitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  display: block;
  text-align: center;
}

.mainContent {
  display: block;
  margin: 0 auto;
}
