.check{
  width: 16px;
  height: 16px;
  background: #3A3A3A;
  margin: 0 10px;
  border-radius: 50%;
}

.option{
  height: 50px;
  &:first-of-type{
    border-bottom: 1px solid #3A3A3A;
  }
}

.optionButton{
  border: unset;
  background-color: unset;
  align-items: center;
  padding: 0 10px;
  display: flex;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.values{
  padding: 0 15px;
  li{
    list-style: none;
    text-align: left;
  }
}

.header{
  display: flex;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  border-bottom: 1px solid #3A3A3A;
  padding: 10px 15px 20px;
}

.options{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #2A2A2A;
  overflow: auto;
}

.value{
  color: #888888;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  text-align: left;
}
.title{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.dropdown{
  background-color: unset;
  border: unset;
  padding: 20px 0 30px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}