.imageWrapper {
  position: relative;
  height: 133px;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
  color: white !important;
}

.items {
  color: #888888;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: auto 10px 10px;
}

.image {
  box-sizing: border-box;
  position: absolute;
  border: 4px solid #171717;
  border-radius: 8px;
  overflow: hidden;
  height: 133px;
  width: 133px;
  // &:nth-child(1) {
  //   z-index: 3;
  // }
  // &:nth-child(2) {
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 2;
  // }
  // &:nth-child(3) {
  //   right: 0;
  //   z-index: 1;
  // }
  img {
    object-fit: cover;
    height: 125px;
    width: 125px;
  }
}

.artBoard {
  flex: 1 0 295px;
  max-width: 350px;
  height: 264px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  background: #171717;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
