.detailWrapper {
  position: relative;
  padding: 60px 10px 100px;
  max-width: 660px;
  margin: 0 auto;
  box-sizing: border-box;

  img {
    max-width: 100%;
    max-height: 80vh;
  }

  footer {
    position: relative;
  }
}

.image {
  text-align: center;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #2a2a2a;
}

.titleInfo {
  padding-right: 1em;
  font-size: 14px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.secondaryInfo {
  margin-top: 0.5em;
}

.description {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.saleInfo {
  font-size: 12px;
  background: #171717;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 15px;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.infoItem {
  width: 50%;
  margin: 12px 0;
}

.infoTitle {
  color: #717171;
  font-size: 10px;
}

.infoValue {
  margin: 10px 0 0;
  font-size: 12px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dislike,
.like {
  width: 60px;
  height: 60px;
  background-color: #3a3a3a;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}

.dislike {
  background-image: url('../../assets/cross.svg');
}

.like {
  background-image: url('../../assets/tick.svg');
}

.buy,
.bid {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  padding: 14px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  border: none;
}

.buy {
  background: #0040e3;
  text-align: center;
  text-decoration: none;
}

.bid {
  margin-right: 10px;
  background-color: #3a3a3a;
}

@media (min-width: 1000px) {
  .detailWrapper {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    padding-bottom: 0;
  }

  .image {
    width: 70%;
  }

  .allInfo {
    width: 30%;
  }

  .actions {
    position: static;
    margin-top: auto;
  }

  .allInfo {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #2a2a2a;
    box-sizing: border-box;
  }
}
