.artBoardWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.likedWrapper {
  position: relative;
  background: #000;
  min-height: 100vh;
  padding: 80px 10px 0;
  color: #fff;

  img {
    max-width: 100%;
  }

  h2, h5 {
    text-align: center;
  }
}

.card {
  margin: 10px;
  display: block;
  color: white;
  text-decoration: none;

  img {
    border-radius: 8px;
  }
}

.cardName {
  margin: 10px 0 20px;
}