.addArtboardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    margin-top: 30px;
    box-sizing: border-box;
    background: #2a2a2a;
    color: white;
    border: 5px solid #2a2a2a;
    height: 50px;
    border-radius: 8px;
    outline: none;
  }
}
.artModalContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.topButton {
  background: #2a2a2a;
  border-radius: 8px;
  // min-width: 120px;
  // height: 50px;
  align-items: center;
  padding: 5px;
  border: 5px solid #2a2a2a;
  color: white;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  &:hover {
    background: #3a3a3a;
  }
}
.topHeader {
  color: #888888;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.topWrapper {
  margin-bottom: 20px;
}
.artBoardWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.likedWrapper {
  position: relative;
  background: #000;
  min-height: 100vh;
  padding: 80px 10px 0;
  color: #fff;

  img {
    max-width: 100%;
  }

  h2,
  h5 {
    text-align: center;
  }
}

.card {
  margin: 10px;
  display: block;
  color: white;
  text-decoration: none;

  img {
    border-radius: 8px;
  }
}

.cardName {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0 20px;
  & > span {
    margin-right: auto;
  }
}
