.footer {
  width: 84px;
  position: fixed;
  padding: 7px;
  background-color: #3A3A3A;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}