.footer {
  width: 84px;
  position: fixed;
  padding: 7px;
  background-color: #171717;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.homeImage {
  height: 24px;
  width: auto;
  &:hover {
    opacity: 0.6;
  }
}

.profileImage {
  height: 24px;
  width: auto;
  &:hover {
    opacity: 0.6;
  }
}
