@import 'Variables';

.App {
  > img {
    max-height: 300px;
  }
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url('./assets/img.png');
  background-size: cover;
  height: 100%;
  min-height: 100%;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #030303;
    opacity: 0.8;
  }
}
.react-responsive-modal-root {
  .react-responsive-modal-modal {
    background-color: #202020;
    svg {
      path {
        fill: white;
      }
    }
  }
}

#root + div {
  height: unset;
}
