body,
html {
  margin: 0;
  height: 100vh;
}

body > div {
  height: 100%;
}

div {
  display: block;
}

.walletconnect-qrcode__base {
  background-color: transparent !important;
}

button {
  cursor: pointer;
}
